{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home {% endblock title %} </title>

</head>
<body>

<style>
        body{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        nav{
            background-color: #333;
            color: #fff;
            padding: 10px;
        }
        nav ul{
            display: flex;
            list-style: none;
            justify-content: space-around;

        }
        ul a{
            text-decoration: none;
            color: #fff;
        }
    </style>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Add</a></li>
            <li><a href="">Edit</a></li>
            <li><a href="">Delete</a></li>
        </ul>
    </nav>
    {% block content %}
    
    {% endblock content %}

</body>
</html>